@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello C#/ASP.NET CORE. Date time is @DateTime.Now</p>
</div>
